*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Fira Sans', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    background-image: url(img/backudem.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    max-height: 1000px;
    height: 1000px;
    position: relative;
}
/*-------------------------------------------------------------*/
/*--- Header ---------------------- url(img/test.jpeg);----------------------------*/
/*-------------------------------------------------------------*/
header {
    padding-bottom: 12px;
    padding-top: 0px;
    border: 2px solid #727272;
    background-color: rgba(139, 139, 139, 0.80);
    position: sticky;
    top: 0;
    z-index: 9999;
    
}

h1 {
    margin-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    position: absolute;
    top: -3px;
    left: 30px;
    color: #ededed;
    font-size: 210%;
    
}

.nav {
        column-count: 5;
        text-align: center;
        margin-top: 4px;
        width: 100%;
        margin-right: 20%;
        margin-left: 20%;
        max-width: 1140px;
        font-size: 110%;
        
}



.nav li,        
.nav li a {
    text-decoration: none;
    list-style: none;
    color: #f4f4f4;
    border-bottom: 2px solid rgba(237, 237, 237, 0);
    transition: border 0.2s;
}


.nav li a:hover {
    border-bottom: 2px solid #f4f4f4;
}



/*-------------------------------------------------------------*/
/*--- Main Section --------------------------------------------*/
/*-------------------------------------------------------------*/
h2 {
    font-size: 200%;
    font-weight: 400;
    position: relative;
    top: 140px;
    width: 22%;
    text-align: center;
    border: 2px solid #727272;
    background: rgba(139, 139, 139, 0.80);
    margin-left: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #f4f4f4;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    overflow: hidden;
}

.udemy-showcase {
    column-count: 2;
    text-decoration: none;
    list-style: none;
}

.udemy-imgs img{
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 22.5%;
}


.udempy-img img{
    float: right;
    width: 90%;
    border: 2px solid #727272;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    overflow: hidden;
}

.udempy-img {
    opacity: 0.9;
}

.udemhtml-img img{
    float: left;
    width: 90%;
    border: 2px solid #727272;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    overflow: hidden;
}

.udemhtml-img {
    opacity: 0.9;
}


/*-------------------------------------------------------------*/
/*--- Footer --------------------------------------------------*/
/*-------------------------------------------------------------*/
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 2px solid #333333;
    background-color: #4a4a4a;
    height: 40px;
    
}

.icons {
    float: right
}
.icons li,        
.icons li a {
    display: inline;
    text-decoration: none;
    column-count: 3;
    margin-right: 15px;
    position: relative;
    bottom: -3px;
    right: 20px;
    color: #f4f4f4;
    list-style: none;
    font-size: 110%;
    margin-right: 25px;
}

.about {
    float:left;
    height: 25px;
    margin-top: 5px;


}

.about li,        
.about li a {
    display: inline;
    list-style: none;
    text-decoration: none;
    column-count: 2;
    color: #f4f4f4;
    margin-left: 20px;
    height: 30px;
    
}

.copy {
    text-align: center;
    width: 0%;
    position: relative;   
    font-weight: 400;
    font-size: 80%;
    color: #8b8b8b;
    bottom: -40%;
    left: 25%;
}